#search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7rem 0;
  /* margin-top: 2rem; */
}

#search h1 {
  font-size: var(--font-size-3xl);
  color: var(--white-color);
  letter-spacing: 0.5rem;
}

.form {
  display: flex;

  width: 100%;
  position: relative;
  padding-top: 6rem;
}

.form .input {
  width: 100%;
  font-size: var(--font-size-2xl);
  /* letter-spacing: 0.2rem; */
  /* font-weight: bold; */
  color: var(--white-color);
  border: none;
  outline: none;
  border-bottom: 3px solid var(--white-color);
  border-radius: 0 0 0 var(--border-raduis-sm);
  background: transparent;
  padding: 1.5rem;
}

.search-btn {
  font-size: var(--font-size-2xl);
  width: 10rem;
  height: 6rem;
  border: none;
  border-bottom: 3px solid var(--white-color);
  border-radius: 0 0 var(--border-raduis-sm) 0;
  border-left: none;
  text-align: center;
  color: var(--white-color);
  background: transparent;
  margin-right: 1rem;
}

.search-btn:hover {
  opacity: 0.9;
}

.form input[type="text"]::placeholder {
  font-size: var(--font-size-2xl);
  /* font-weight: normal; */
  color: var(--light-gray-color);
  opacity: 0.9;
  letter-spacing: 0.2rem;
}
