#snackbar--empty-input {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: darkred;
  color: #fff;
  text-align: center;
  border-radius: var(--border-raduis-xl);
  padding: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar--empty-input.show {
  visibility: visible;
  -webkit-animation: fadein2 0.5s, fadeout2 0.5s 2.5s;
  animation: fadein2 0.5s, fadeout2 0.5s 2.5s;
}

@-webkit-keyframes fadein2 {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein2 {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout2 {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout2 {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
