.hidden {
  display: none;
}

.github__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 68vw;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #f2f8f2 75%);
  border-radius: var(--border-raduis-sm);
  padding: 5rem;
  margin-top: 10rem;
  opacity: 0.85;
}

.user__left-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  line-height: 3rem;
}

.user__avatar img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  margin-right: 2rem;
}

.user__left-side h3 {
  color: var(--dark-color);
  font-size: var(--font-size-2xl);
}

.user--url a,
.user__about {
  color: var(--light-color);
  transition: all 0.3s ease;
}

.user--url a:hover {
  color: var(--dark-color);
}

.user__about {
  display: flex;
  flex-direction: row;
}

.user__about .about:hover {
  text-shadow: 0 0 0.8rem var(--green-color);
  cursor: pointer;
}

.user__about div:nth-child(2) {
  margin: 0 2rem;
}

.user__about span {
  color: var(--dark-color);
  font-weight: bold;
}

.user__right-side i {
  padding: 1rem 2rem;
  border-radius: var(--border-raduis-xs);
  cursor: pointer;
}

.user__right-side i:first-child {
  padding: 1rem 2rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  margin-right: 2rem;
}

.user__right-side .hire {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.user__right-side .green {
  background-color: green;
}
