.hidden {
  display: none;
}

.github__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 68vw;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #f2f8f2 75%);
  border-radius: var(--border-raduis-sm);
  padding: 5rem;
  margin-top: 10rem;
  opacity: 0.85;
}

.user__left-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  line-height: 3rem;
}

.user__avatar img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  margin-right: 2rem;
}

.user__left-side h3 {
  color: var(--dark-color);
  font-size: var(--font-size-2xl);
}

.user--url a,
.user__about {
  color: var(--light-color);
  transition: all 0.3s ease;
}

.user--url a:hover {
  color: var(--dark-color);
}

.user__about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user__about span {
  color: var(--dark-color);
  font-weight: bold;
  transition: all 0.3s ease;
}

.user__about .about:hover,
.user__about .about:hover span {
  /* text-shadow: 0 0 0.8rem var(--green-color); */
  color: var(--primary-color);
  cursor: pointer;
}

.user__about div:nth-child(2) {
  margin: 0 2rem;
}

.user__right-side i {
  padding: 1rem 2rem;
  border-radius: var(--border-raduis-xs);
  cursor: pointer;
}

.user__right-side i:first-child {
  padding: 1rem 2rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  margin-right: 2rem;
}

.user__right-side .hire {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.user__right-side .green {
  background-color: green;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .user__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .user__right-side i:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .github__wrapper {
    flex-direction: column;
  }

  .user__right-side {
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
  }

  .user__right-side i {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .github__wrapper {
    max-width: 80vw;
    margin-bottom: 5rem;
  }
  .user__left-side {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .user__info .user--url {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .github__wrapper {
    padding: 3rem 1.5rem;
    margin-top: 5rem;
  }
  .user__about {
    flex-direction: column;
    gap: 2rem;
  }
}
